<h2>Products</h2>

<!-- With *ngFor, the <div> repeats for each product in the list. -->

<!-- *ngFor is a "structural directive". Structural directives shape or reshape the DOM's structure, typically by adding, removing, and manipulating the elements to which they are attached. Directives with an asterisk, *, are structural directives. -->
<!-- Update: Assign each index in the products array to the productId variable when iterating over the list -->
<div *ngFor="let product of products; index as productId">
  <!-- To display the names of the products, use the interpolation syntax {{ }}. Interpolation renders a property's value as text. -->

  <h3>
    <!-- To make each product name a link to product details, add the <a> element and set its title to be the product's name by using the property binding [ ] syntax -->

    <!-- The RouterLink directive gives the router control over the anchor element. In this case, the route, or URL, contains one fixed segment, /products, while the final segment is variable, inserting the id property of the current product. -->
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', productId]"
      routerLinkActive="router-link-active"
      >{{ product.name }}</a
    >
  </h3>

  <!-- Add the product descriptions. On the <p> element, use an *ngIf directive so that Angular only creates the <p> element if the current product has a description. -->

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <!-- Add a button so users can share a product with friends. Bind the button's click event to the share() method (in product-list.component.ts). Event binding uses a set of parentheses, ( ), around the event -->

  <button (click)="share()">Share</button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  ></app-product-alerts>
</div>

<!--

The app now has a product list and sharing feature. In the process, you've learned to use five common features of Angular's template syntax:

*ngFor
*ngIf
Interpolation {{ }}
Property binding [ ]
Event binding ( )

-->
